body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 6, 78);
}
*{
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
